
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<center>
    <hr><hr><hr>
    <a type="button" class="btn btn-secondary btn-sm" href="https://github.com/subhranshuchoudhury/anonymous-chat-app">GitHub</a>
    <a type="button" class="btn btn-secondary btn-sm" href="https://about.me/subhranshu">@SSC <%= new Date().toLocaleDateString() %> </a>
</center>
</body>
</html>