<%- include('partials/header') %>

<div class="container mt-5">
  <h1>Delete Room</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /delete-room route -->
          <form action="/delete-room" method="POST">
            <div class="form-group">
              <label for="roomname">Room Name</label>
              <input type="text" class="form-control" name="roomName">
            </div>
            <div class="form-group">
              <label for="roompassword">Room Password</label>
              <input type="password" class="form-control" name="roomPassword">
            </div>
            <button type="submit" class="btn btn-dark">Delete</button>
          </form>

        </div>
      </div>
    </div>

    

  </div>
</div>

<%- include('partials/footer') %>