<%- include('partials/header') %>

<h1></h1>
<img class="home-logo" src="/anonymous-logo.png" alt="anonymous logo">
<br>

<center>
    
        <a class="btn btn-primary submit-btn" href="register">Register</a>
        <br>
        <a class="btn btn-primary submit-btn" href="login">Login</a>
    
</center>



    
<%- include('partials/footer') %>
