<%- include('partials/header') %>

<img class="room-logo" src="/room-logo.jpg" alt="room logo">
<br>

<h3>Hi <%= username %>! </h3>

<br>
<center>
        <a type="button" class="btn btn-success" href="create-room">Create Room</a>
        <a type="button" class="btn btn-primary" href="join-room">Join Room</a>
        <a type="button" class="btn btn-danger" href="delete-room">Delete Room</a>
    
</center>


<%- include('partials/footer') %>
